.barra{
	background-color: blue;
}
.logoAcre{
	width: 16%;
}
.navbar{
	position: relative;

}
.navBarBlocks {
    list-style-type: none;
    width: 60%;
padding: 0px 15% 0px;
    padding: 0;
    padding-left: 
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
