body, html{
    background-color: #fbfbfb;
    min-height: 100vh;
}


#navjust li:hover{
  color: white;
}


.sidenav{
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    /*background-image: linear-gradient(to right top, #051937, #132544, #213152, #2e3e60, #3b4b6f);*/
    /*color: white;*/

    overflow-x: hidden;
    padding-top: 20;
    /*border-right: 0.5px solid #A4A4A4;*/
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
}

.sidenav a:hover{
    background-color: #1e1e48;
    color: white;
}
.main {
    margin-left: 20%;
    padding: 0px 10px;
}

.topnav{
    margin: auto;
    border: 1px solid #1e1e48;
    overflow: hidden;
}
.topnav a{
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.tipoCartucho{
    list-style: none;
}
.tipoCartucho h3, h4, h5{
    text-align: center;
}

.title-fushia{
    color: #3A5783;
}


.navjustindexz{
    z-index: 80;
}

.top{
    top:0;
}
.left{
    left:0;
}
.right{
    right:0;
}
.bottom{
    bottom:0;
}

.overflow{
    overflow-y: auto;
}

.z-index-50{
    z-index: 100;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* width */
::-moz-scrollbar {
  width: 20px;
}

/* width */
::-ms-scrollbar {
  width: 20px;
}

/* width */
::-o-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey; */
  /*border-radius: 10px;*/
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  /*background: linear-gradient(to left top, #3C3A69, #272664); */
  background: #dbdbdb;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: linear-gradient(to left top, #3C3A69, #272664); */
  background: #dbdbdb;
}